.hero{
    width: 100%;
    height: 70vh;
    /* background: #000; */
    /* border: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg,rgb(204, 204, 255),rgb(254, 218, 218)); */
    /* flex-direction: column; */
    /* background-image: url(../img/hero.jpg); */
}

.hero .left{
    width: 70%;
    height: 50%;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    letter-spacing: 0.1rem;
}

.hero p{
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin: 20px;
}

.hero .button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .btn{
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: transparent;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hero .btn:hover{
    background: #ffffff;
    color: #000000;
    text-shadow: none;
}

.hero .right{
    width: 60%;
    height: 60%;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .right img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

@media screen and (max-width:1100px) {
    .hero{
        flex-direction: column;
    }

    .hero .left{
        width: 100%;
        height: 50%;
    }

    .hero .right{
        display: none;
    }

    .hero h1{
        font-size: 40px;
    }

    .hero .button{
        /* width: 50vh; */
        flex-direction: column;
    }

    .hero .btn{
        width: 20vh;
        text-align: center;
    }
    
}